/* Reseteador
---------------------------------------------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, 
h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, code, del, dfn, em, img, q, 
dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
	border: 0;
}

/* As taboas necesitan levas 'cellspacing="0"' no marcado */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
table, td, th {
	vertical-align: middle;
}

/* Quita posibles marcas (") en <q> e <blockquite> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Quita o borde nas imaxes con link */
a img {
	border: none;
}

/* Fontes
---------------------------------------------------------------------------------------------------- */
body { /* Lucida Grande, regular, 11px */
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, "Segoe UI", sans-serif;
	font-size: 75%;
	line-height: 1.4em;
	color: #9f9f9f;
	letter-spacing: 0;
	word-spacing: 0;
 }

p, .marxe_inferior { margin-bottom: 17px; }

h1, .simula_h1 {
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 40px;
	color: #242424;
	line-height: 1em;
	font-weight: normal;
	margin-bottom: 20px;
}

a {
	color: #5f9cca;
	text-decoration: none;
}
a img { text-decoration: none!important; }
a:hover { text-decoration: underline; }
a:hover img { text-decoration: none!important; }
a.non_sublinhado, .non_sublinhado a { text-decoration: none; }
a.sublinhado, .sublinhado a { text-decoration: underline; }

strong { font-weight: bold; }
em { font-style: italic; }
small, sup, sub { font-size: 0.5em; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
pre, code {}
blockquote {}
del { text-decoration: line-through; }

/* Elementos xenÃ©ricos
---------------------------------------------------------------------------------------------------- */
.clear_interno:after {
	font-size: 0;
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.clear_interno {
	*display: inline-block;
}
.clear_interno {
	_height: 1%;
	_display: block; 
}

/* Estructura base
---------------------------------------------------------------------------------------------------- */
.cabeceira, .corpo, .pe {
	width: 960px;
	margin: 0 auto;
}

.cabeceira {
	text-align: center;
	padding: 45px 0 0;
}
.corpo {
	width: auto;
	text-align: center;
}
.pe { padding: 10px 0 45px 0; }
	.pe .logo_dinahosting {
		float: left;
	}
	.pe .texto_pe {
		width: 790px;
		float: right;
	}

.parking_01 .corpo img { margin: 0 -20px 0 0; }
